In [ ]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"mgupta1212","key":"040a06d0b10f14c43fcbe62e47b29ba5"}'}

In [ ]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

In [ ]:
!kaggle competitions download -c jigsaw-toxic-comment-classification-challenge

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
Downloading sample_submission.csv.zip to /content
  0% 0.00/1.39M [00:00<?, ?B/s]
100% 1.39M/1.39M [00:00<00:00, 46.5MB/s]
Downloading test.csv.zip to /content
 73% 17.0M/23.4M [00:00<00:00, 9.16MB/s]
100% 23.4M/23.4M [00:01<00:00, 24.2MB/s]
Downloading test_labels.csv.zip to /content
  0% 0.00/1.46M [00:00<?, ?B/s]
100% 1.46M/1.46M [00:00<00:00, 47.0MB/s]
Downloading train.csv.zip to /content
 53% 14.0M/26.3M [00:00<00:00, 141MB/s]
100% 26.3M/26.3M [00:00<00:00, 167MB/s]

In [ ]:
!unzip train.csv.zip

Archive:  train.csv.zip
  inflating: train.csv

In [ ]:
import pandas as pd

In [ ]:
train = pd.read_csv('train.csv')

In [ ]:
train.head(12)

                  id  ... identity_hate
0   0000997932d777bf  ...             0
1   000103f0d9cfb60f  ...             0
2   000113f07ec002fd  ...             0
3   0001b41b1c6bb37e  ...             0
4   0001d958c54c6e35  ...             0
5   00025465d4725e87  ...             0
6   0002bcb3da6cb337  ...             0
7   00031b1e95af7921  ...             0
8   00037261f536c51d  ...             0
9   00040093b2687caa  ...             0
10  0005300084f90edc  ...             0
11  00054a5e18b50dd4  ...             0

[12 rows x 8 columns]

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159571 entries, 0 to 159570
Data columns (total 8 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id             159571 non-null  object
 1   comment_text   159571 non-null  object
 2   toxic          159571 non-null  int64
 3   severe_toxic   159571 non-null  int64
 4   obscene        159571 non-null  int64
 5   threat         159571 non-null  int64
 6   insult         159571 non-null  int64
 7   identity_hate  159571 non-null  int64
dtypes: int64(6), object(2)
memory usage: 9.7+ MB

In [ ]:
train['label'] = train.apply(lambda row: (row.toxic | row.severe_toxic | row.obscene | row.threat | row.insult | row.identity_hate), axis = 1)

In [ ]:
train.head(15)

                  id  ... label
0   0000997932d777bf  ...     0
1   000103f0d9cfb60f  ...     0
2   000113f07ec002fd  ...     0
3   0001b41b1c6bb37e  ...     0
4   0001d958c54c6e35  ...     0
5   00025465d4725e87  ...     0
6   0002bcb3da6cb337  ...     1
7   00031b1e95af7921  ...     0
8   00037261f536c51d  ...     0
9   00040093b2687caa  ...     0
10  0005300084f90edc  ...     0
11  00054a5e18b50dd4  ...     0
12  0005c987bdfc9d4b  ...     1
13  0006f16e4e9f292e  ...     0
14  00070ef96486d6f9  ...     0

[15 rows x 9 columns]

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159571 entries, 0 to 159570
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id             159571 non-null  object
 1   comment_text   159571 non-null  object
 2   toxic          159571 non-null  int64
 3   severe_toxic   159571 non-null  int64
 4   obscene        159571 non-null  int64
 5   threat         159571 non-null  int64
 6   insult         159571 non-null  int64
 7   identity_hate  159571 non-null  int64
 8   label          159571 non-null  int64
dtypes: int64(7), object(2)
memory usage: 11.0+ MB

In [ ]:
train = train.iloc[:, [0,1,8]]
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159571 entries, 0 to 159570
Data columns (total 3 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            159571 non-null  object
 1   comment_text  159571 non-null  object
 2   label         159571 non-null  int64
dtypes: int64(1), object(2)
memory usage: 3.7+ MB

In [ ]:
import nltk
import matplotlib.pyplot as plt
import re
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from nltk.stem import WordNetLemmatizer
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
import sys
sys.setrecursionlimit(10000)

In [ ]:
#independent and dependent variable
x = train.iloc[:,1].values
y = train.iloc[:,-1].values

In [ ]:
comments = []
lem = WordNetLemmatizer()
ps = PorterStemmer()
for i in range(0,x.shape[0]):
  com = re.sub('[^a-zA-Z]',' ',x[i])
  com = com.lower()
  com = com.split()
  com = [lem.lemmatize(word) for word in com]# if not word in stopwords.words('english')]
  com = ' '.join(com)
  comments.append(com)

In [ ]:
comments[:10]

['explanation why the edits made under my username hardcore metallica fan were reverted they weren t vandalism just closure on some gas after i voted at new york doll fac and please don t remove the template from the talk page since i m retired now',
 'd aww he match this background colour i m seemingly stuck with thanks talk january utc',
 'hey man i m really not trying to edit war it s just that this guy is constantly removing relevant information and talking to me through edits instead of my talk page he seems to care more about the formatting than the actual info',
 'more i can t make any real suggestion on improvement i wondered if the section statistic should be later on or a subsection of type of accident i think the reference may need tidying so that they are all in the exact same format ie date format etc i can do that later on if no one else doe first if you have any preference for formatting style on reference or want to do it yourself please let me know there appears to be a backlog on article for review so i guess there may be a delay until a reviewer turn up it s listed in the relevant form eg wikipedia good article nomination transport',
 'you sir are my hero any chance you remember what page that s on',
 'congratulation from me a well use the tool well talk',
 'cocksucker before you piss around on my work',
 'your vandalism to the matt shirvington article ha been reverted please don t do it again or you will be banned',
 'sorry if the word nonsense wa offensive to you anyway i m not intending to write anything in the article wow they would jump on me for vandalism i m merely requesting that it be more encyclopedic so one can use it for school a a reference i have been to the selective breeding page but it s almost a stub it point to animal breeding which is a short messy article that give you no info there must be someone around with expertise in eugenics',
 'alignment on this subject and which are contrary to those of dulithgow']

##Bag of Words

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features = 4000)
X = cv.fit_transform(comments).toarray()

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [ ]:
from sklearn.naive_bayes import MultinomialNB
mnb = MultinomialNB().fit(X_train, y_train)
y_pred = mnb.predict(X_test)

####Confusion Matrizx, Accuracy and F1Score

In [ ]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

In [ ]:
cm

array([[34481,  1308],
       [ 1084,  3020]])

In [ ]:
from sklearn.metrics import accuracy_score
acc = accuracy_score(y_test, y_pred)
acc

0.9400396059459053

In [ ]:
from sklearn.metrics import f1_score
sc = f1_score(y_test, y_pred,)
sc

0.7163187855787476

##Using Word2Vec

In [ ]:
from gensim.models import Word2Vec

In [ ]:
"""train the model using the training set
for that we need to provide list of list of comments from training set
then for test set, use model on that to make the similarity thingy
then use classifier on training set 
then predict for test set using classifier
"""

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(comments, y, test_size = 0.25, random_state = 0)

In [ ]:
# making list of list of comments from training set
tokenized_comments = []
for com in comments:
  com = com.split()
  #com = [ com.append(word) for word in com if not word in stopwords.words('english')]
  tokenized_comments.append(com)

In [ ]:
tokenized_comments[:1]

In [ ]:
w2vmodel = Word2Vec(tokenized_comments, min_count = 1, size = 250)

In [ ]:
import statistics

#Preprocessing for Classification

In [ ]:
new_x_train = []
for com in X_train:
  c = []
  com = com.split()
  c = [w2vmodel[x] for x in com ]
  new_x_train.append(c)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: DeprecationWarning: Call to deprecated `__getitem__` (Method will be removed in 4.0.0, use self.wv.__getitem__() instead).
  """

In [ ]:
new_x_test = []
for com in X_test:
  c = []
  com = com.split()
  c = [w2vmodel.wv[x] for x in com ]
  new_x_test.append(c)

In [ ]:
import numpy as np

In [ ]:
# for computing mean
final_train = []
for x in new_x_train:
  a = np.array(x)
  res = np.average(a, axis=0)
  final_train.append(res)

/usr/local/lib/python3.7/dist-packages/numpy/lib/function_base.py:380: RuntimeWarning: Mean of empty slice.
  avg = a.mean(axis)
/usr/local/lib/python3.7/dist-packages/numpy/core/_methods.py:170: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

In [ ]:
final_train = np.array(final_train)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  """Entry point for launching an IPython kernel.

In [ ]:
final_train_2 = []
final_y_train = []
for i in range(len(final_train)):
  if final_train[i].shape:
    final_train_2.append(final_train[i])
    final_y_train.append(y_train[i])

In [ ]:
train_df = pd.DataFrame(final_train_2)

In [ ]:
# train_df.info()
# len(final_y_train)

In [ ]:
final_test = [] 
for x in new_x_test:
  a = np.array(x)
  res = np.average(a, axis=0)
  final_test.append(res)

/usr/local/lib/python3.7/dist-packages/numpy/lib/function_base.py:380: RuntimeWarning: Mean of empty slice.
  avg = a.mean(axis)
/usr/local/lib/python3.7/dist-packages/numpy/core/_methods.py:170: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

In [ ]:
final_test = np.array(final_test)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  """Entry point for launching an IPython kernel.

In [ ]:
final_test_2 = []
final_y_test = []
for i in range(len(final_test)):
  if final_test[i].shape:
    final_test_2.append(final_test[i])
    final_y_test.append(y_test[i])

In [ ]:
test_df = pd.DataFrame(final_test_2)

In [ ]:
test_df.head(2)

        0         1         2    ...       247       248       249
0  0.430444 -0.293723 -0.321986  ...  0.104850  0.325402 -0.308061
1  0.835546 -0.549206 -0.440283  ... -0.594503  0.615319  0.311531

[2 rows x 250 columns]

#classification

In [ ]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression(max_iter = 300).fit(train_df, final_y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [ ]:
y_pred = logreg.predict(test_df)

In [ ]:
from sklearn.metrics import f1_score
sc = f1_score(final_y_test, y_pred,)
sc

0.6584659913169321

In [ ]:
from sklearn.ensemble import AdaBoostClassifier
clf = AdaBoostClassifier().fit(train_df, final_y_train,)

In [ ]:
y_pred = clf.predict(test_df)

In [ ]:
from sklearn.metrics import f1_score
sc = f1_score(final_y_test, y_pred,)
sc

0.629572094336958

In [ ]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators = 100)
clf.fit(train_df, final_y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [ ]:
y_pred = clf.predict(test_df)

In [ ]:
from sklearn.metrics import f1_score
sc = f1_score(final_y_test, y_pred,)
sc

0.5673923882333389